.thead-light {
	text-align: center
}
body {
	font-family: 'Poppins', sans-serif;
}
tbody td {
	text-align: center
}
tr {
	border-bottom: 1px solid #e9eef2 !important;
}
td {
	border: none !important
}
tbody td:first-child {
	text-align: left;
	font-weight: 500;
	width: 300px;
	font-size: 16px;
	color: #463a3a;
}
tr, td {
	padding: 20px 0px !important;
	font-size: 14px;
	font-weight: 400;
	color: #5f5f5f;
}
th h3 {
	font-weight: bold;
	color: #ff454d;
	font-size: 32px;
}
th h5 {
	font-weight: normal;
	color: #313131;
	font-size: 13px
}
th h5 strong {
	font-weight: bold;
	color: #1A1A1A;
	font-size: 13px
}
.table td:nth-child(4), .table .thead-light th:nth-child(4) {
	background: #cfe0ff;
	border: 1px solid #fff !important
}
.table .thead-light th {
	background: #fff;
	border: none;
	padding: 30px;
}
.mt-100 {
	margin-top: 100px;
	justify-content: center;
}
tr:last-child, td:last-child {
	border: none !important
}
.nav-tabs {
	border: none
}
.nav-tabs .nav-link.active {
	border-bottom: 2px solid #d1242b !important;
	border-color: #fff #fff #d1242b #fff !important;
	font-weight: 600;
	font-size: 20px;
}
.nav-tabs .nav-link:hover {
	color: #000;
	border: none;
}
.nav-tabs .nav-link {
	border: none
}
tbody td:first-child span {
	width: 13px;
	height: 13px;
	background: #e6e6e6;
	display: inline-block;
	border-radius: 50px;
	font-size: 8px;
	text-align: center;
	line-height: 15px;
	margin-left: 10px;
	color: #828282;
	font-weight: normal;
}
/* Add this attribute to the element that needs a tooltip */
[data-tooltip] {
	position: relative;
	z-index: 2;
	cursor: pointer;
}
/* Hide the tooltip content by default */
[data-tooltip]:before, [data-tooltip]:after {
	visibility: hidden;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
 filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
	opacity: 0;
	pointer-events: none;
}
/* Position tooltip above the element */
[data-tooltip]:before {
	position: absolute;
	bottom: 150%;
	left: 50%;
	margin-bottom: 5px;
	margin-left: -80px;
	padding: 7px;
	width: 160px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #000;
	background-color: hsla(0, 0%, 20%, 0.9);
	color: #fff;
	content: attr(data-tooltip);
	text-align: center;
	font-size: 14px;
	line-height: 1.2;
}
/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
	position: absolute;
	bottom: 150%;
	left: 50%;
	margin-left: -5px;
	width: 0;
	border-top: 5px solid #000;
	border-top: 5px solid hsla(0, 0%, 20%, 0.9);
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
	content: " ";
	font-size: 0;
	line-height: 0;
}
/* Show tooltip content on hover */
[data-tooltip]:hover:before, [data-tooltip]:hover:after {
	visibility: visible;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
 filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
	opacity: 1;
}
.tab-content {
	padding: 10px 50px;
	background: #ffff;
	border-radius: 6px;
	margin-bottom: 50px;
	border: 1px solid #e9efff;
	border-radius: 10px;
	background: #fff;
	padding: 40px 40px 40px 40px;
	-webkit-box-shadow: 2px 6px 59px -24px rgba(92,138,255,0.37);
	-moz-box-shadow: 2px 6px 59px -24px rgba(92,138,255,0.37);
	box-shadow: 2px 6px 59px -24px rgb
}
/*	SMS	*/
		
.table {
	margin-bottom: 0px
}
.panel {
	background-color: #fff;
	border-radius: 10px;
	padding: 15px 25px;
	position: relative;
	width: 100%;
	z-index: 10;
}
.pricing-table {
	/*box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.08), 0px 20px 31px 3px rgba(0, 0, 0, 0.09), 0px 8px 20px 7px rgba(0, 0, 0, 0.02);*/
	display: flex;
	flex-direction: column;
}

@media (min-width: 900px) {
.pricing-table {
	flex-direction: row;
}
}
.pricing-table * {
	text-align: center;
	text-transform: uppercase;
}
.pricing-plan {
	border-bottom: 1px solid #e1f1ff;
	padding: 25px;
}
.pricing-plan:last-child {
	border-bottom: none;
}

@media (min-width: 900px) {
.pricing-plan {
	border-bottom: none;
	border-right: 1px solid #e1f1ff;
	flex-basis: 100%;
	padding: 25px 50px;
}
.pricing-plan:last-child {
	border-right: none;
}
}
.pricing-img {
	margin-bottom: 25px;
	max-width: 100%;
}
.pricing-header {
	color: #423f3f;
	font-weight: 600;
	letter-spacing: 1px;
	font-size: 20px;
}
.pricing-features {
	color: #016FF9;
	font-weight: 600;
	letter-spacing: 1px;
	margin: 50px 0 25px;
	padding-left: 0px;
}
.pricing-features-item {
	border-top: 1px solid #e1f1ff;
	font-size: 12px;
	line-height: 1.5;
	padding: 15px 0;
}
.pricing-features-item:last-child {
	border-bottom: 1px solid #e1f1ff;
}
.pricing-price {
	color: #ff454d;
	display: block;
	font-size: 32px;
	font-weight: 700;
}
.pricing-button {
	border: 1px solid #23d0b0;
	border-radius: 4px;
	color: #000;
	display: inline-block;
	margin: 25px 0;
	padding: 8px 10px;
	text-decoration: none;
	transition: all 150ms ease-in-out;
}
.pricing-button:hover, .pricing-button:focus {
	background-color: #e1f1ff;
}
.pricing-button.is-featured {
	background-color: #23d0b0;
	color: #fff;
}
.pricing-button.is-featured:hover, .pricing-button.is-featured:active {
	background-color: #269aff;
}
/*!
 * jQuery Tabs - jQuery plugin to create simple vertical and horizontal tabs
 * Copyright 2017 - Anantajit JG
 * https://github.com/anantajitjg/jquery-tabs
 */
.jq-tab-wrapper {
/*-webkit-box-sizing: border-box;
	box-sizing: border-box;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	padding: 1em;*/
}
.jq-tab-wrapper.horizontal-tab {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}
.jq-tab-menu {
/*-webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1; */}
.jq-tab-menu .jq-tab-title {
	/*background: #d7d7d7; 
    border: 1px solid #d1d1d1;*/
	cursor: pointer;
	padding: 1em;
	-webkit-transition: background 0.2s;
	-o-transition: background 0.2s;
	transition: background 0.2s;
	margin: 2px 0px;
	-webkit-box-shadow: 2px 6px 59px -24px rgba(92,138,255,0.37);
	-moz-box-shadow: 2px 6px 59px -24px rgba(92,138,255,0.37);
	box-shadow: 2px 6px 59px -24px rgb;
}
.jq-tab-menu .jq-tab-title:first-child {
/*border-top: 1px solid #d1d1d1;*/
}
/*.jq-tab-menu .jq-tab-title:hover, */.jq-tab-menu .jq-tab-title.active {
	background: #ff454d;
	/* border-left: 1px solid #505050; */
	border: none;
	color: #fff;
	border-radius: 6px;
}
.horizontal-tab .jq-tab-menu {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
}
.horizontal-tab .jq-tab-menu .jq-tab-title {
	border-bottom: none;
	border-right: 1px solid #d1d1d1;
	border-left: none;
}
.horizontal-tab .jq-tab-menu .jq-tab-title:first-child {
	border-left: 1px solid #d1d1d1;
	border-top: none;
}
.horizontal-tab .jq-tab-menu .jq-tab-title:hover, .horizontal-tab .jq-tab-menu .jq-tab-title.active {
}
.jq-tab-content-wrapper {
/* -webkit-box-flex: 4;
  -ms-flex: 4;
  flex: 4; */}
.jq-tab-content {
	display: none;
	padding: 1em 1.8em;
}
.jq-tab-content.active {
	display: block;
	background: #ffffff;/* border-left: 1px solid #505050; */
}
.jq-tab-content-wrapper tr, .jq-tab-content-wrapper td {
	padding: 8px 0px !important;
	font-size: 13px
}
.jq-tab-menu p {
	margin: 0px;
	font-size: 13px;
	color: #333;
}
.jq-tab-menu h4 {
	margin-bottom: 0px;
	font-size: 20px;
}
.jq-tab-menu .col-sm-12 p {
	margin: 0px;
	font-size: 13px;
	display: inline-block;
	color: #6a6a6a;
	/* background: #fff; */
	border-radius: 20px;
}
.jq-tab-title .col-sm-12 {
	display: flex
}
.checked-ico {
	margin: auto 10px auto 0px
}
.jq-tab-menu .jq-tab-title.active .col-sm-12 p {
	margin: 0px;
	font-size: 13px;
	display: inline-block;
	color: #ffffff;
	/* background: #fff; */
	border-radius: 20px;
}
.jq-tab-menu .jq-tab-title.active .col-sm-4 p {
	margin: 0px;
	font-size: 13px;
	color: #ffd6d6 !important;
}
.whatever {
	background-color: #f6f9ff;
	display: inline-block;
	width: 100%;
	min-height: 100px;
	border: 1px solid #d0dcf5;
	border-radius: 5px;
	padding: 20px 40px;
	font-size: 14px;
	color: #3e3e3e;
	padding-left: 10%;
	height: auto;
}
.service {
	position: relative
}
#checkboxes input[type=radio] {
	/* display: none; */
	position: absolute;
	/* margin-top: 100px; */
    /* margin-bottom: -50px; */
    /* top: 50%; */
	margin-top: -50px;
	bottom: 50%;
	/* margin-bottom: -130px; */
	left: 5%;
}
#checkboxes input[type=radio]:checked + .whatever {
	width: 100%;
	border: 1px solid #76ccff;
	padding-left: 10%;
}
.whatever h4 {
	font-size: 19px;
	text-transform: capitalize;
	color: #000000;
}
.whatever h2 {
	color: #E93437;
	font-weight: bold
}
.whatever p {
	color: #6587a5;
	font-size: 13px;
}
	.jq-tab-content button{border-radius: 50px;}