@media (max-width: 810px){
.show-sidebar aside.sidebar {
    position: absolute;
    margin-left: 0;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
aside.sidebar {
    width: 230px;
    background-color: #fff;
    border-right: 1px solid #ced4da;
    padding: 20px 0;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    position: absolute;
    margin-left: -285px;
}
.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.topbar-mobile-toggle {
    position: absolute;
    right: 21px;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 12;
    cursor: pointer;
    height: fit-content;
}
.topbar-mobile-toggle span {
    width: 5px;
    height: 5px;
    background: #4f92ff;
    display: block;
    margin-top: 3px;
}
.menu-panel.show-panel {
    visibility: visible;
    opacity: 1;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    height: 60px;
    z-index: 10;
}
.menu-panel {
    background: #fff;
    width: 100%;
    padding: 0 !important;
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    bottom: -67px;
    background: #fff;
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
    visibility: hidden;
    opacity: 0;
    height: 0;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
#mobile-nav {
    position: fixed;
    top: 0;
    padding-top: 18px;
    bottom: 0;
    z-index: 998;
    background-color: #fff;
    left: -260px;
    width: 260px;
    overflow-y: auto;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

}

@media screen and (max-device-width: 575px) and (orientation: portrait){
.page-footer .copy-right {
    text-align: center;
}
}


