.connect .card{background: #FFFFFF;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.04);
    border-radius: 6px;border: none;margin-top: 20px;
 }
 .connect .card .card-inner{padding: 20px;}
 .connect .card .card-inner h4{font-weight: 600;
     font-size: 16px;
     line-height: 24px;
     /* identical to box height */
     font-family: 'Poppins';
     letter-spacing: -0.25px;
     color: #3A3D4B;}
     .connect .card .card-inner p{font-family: 'Poppins';
     font-style: normal;
     font-weight: 400;
     font-size: 12px;
     line-height: 18px;
     color: rgba(58, 61, 75, 0.8);padding-top: 15px;
 }
 .connect .card .card-inner span{
     font-weight: 500;
     font-size: 12px;
     line-height: 18px;
     /* identical to box height */
     font-family: 'Poppins';
     color: rgba(58, 61, 75, 0.6);
 }
 .connect-logo{float: left;margin-right: 15px;}
 .lcs_wrap{width: 100px !important;}
 .lcs_label{width: auto !important;font-family: 'Poppins';}
 .lcs_switch.lcs_on .lcs_cursor {
 left: auto !important;
 right: 3px;
 }
 .lcs_switch.lcs_on {
 background: #FC5E6C !important;
 }
 .connect-banner{padding: 30px;}
 .connect-banner h3{font-family: 'Poppins';
     font-style: normal;
     font-weight: 600;
     font-size: 22px;
     line-height: 33px;
     /* identical to box height */
     letter-spacing: -0.25px;
     color: #FC5E6C;
 }
 .connect-banner p{
     font-family: 'Poppins';
     font-style: normal;
     font-weight: 400;
     font-size: 12px;
     line-height: 18px;
     color: rgba(58, 61, 75, 0.8);
 }
 .fl-left{float: left;}
 .configure{
     position: absolute;
     right: 20px;
     bottom: 24px;
     color: #FC5E6C;
     font-family: 'Poppins';
     font-style: normal;
     font-weight: 600;
     font-size: 12px;
     line-height: 33px;
     letter-spacing: -0.25px;
 }
 .configure:hover{
     color: #bd636bfd;
 }